/*
color 1: #242429
color 2: #262642
color 3: #444475
color 4: #676775
color 5: #ABABC2
*/

:root {
  --base-color: #242429;
  --text-color: #ABABC2;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

* {
  color: var(--text-color);
}

input {
  background-color: var(--base-color);
  border: none;
  color: var(--text-color);
}
input:focus {
  outline: none;
}

#config-container {
  display: flex;
  flex-direction: column;
}